.containerTic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}
@media(max-width:768px){
    .containerTic{
        grid-template-columns: 1fr;
    }   
}
.boardWrapper {
    display: flex;
    flex-direction: column;
}
.boardGrid{
    width: 250px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 2px;
    margin: 2rem auto auto auto;
}
.square {
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
    border: .5px solid #282c34;
}
.square:disabled {
    color: white;
}
.square:hover{
    color: #282c34;
}

.historyGame ul {
    padding: 0;
    list-style: none;
}
.historyGame li{
    margin: 0 auto 1rem auto;
    text-transform: capitalize;
    max-width: 160px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px teal;
    padding: 6px 10px;
    text-align: center;
}

.hasWinner {
    color: tomato;
    font-weight: 600;
}
